@import 'materialize';
@import 'ember-cli-materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @extend .blue, .lighten-2;
}

main {
  flex: 1 0 auto;
}

.collection a {
  @extend .blue-text, .text-lighten-2;
}
