<span class="card-title">{{model.name}}</span>
<div>
  {{model.description}}
</div>
<div>
  {{link-to "Pull Requests" "orgs.org.repo.pulls" model.organization.id model.id class="waves-effect waves-light btn"}}
</div>
