<span class="card-title">{{model.name}}</span>
<div>
  {{model.description}}
</div>
<div class="spacer"></div>
<div>
  {{link-to "Load Pull Requests" "orgs.org.repo.pulls" model.organization.id model.id class="waves-effect waves-light btn blue darken-4"}}
</div>
