{{#md-collection content=model as |pull|}}
  <div class="collection-item">
    <span class="title truncate">{{pull.title}}</span>
    {{#link-to "orgs.org.repo.pulls.comments" pull.repository.organization.id pull.repository.id class="secondary-content"}}
      <i class="material-icons">comment</i>
    {{/link-to}}
  </div>
{{/md-collection}}
