{{#md-collection content=model as |pull|}}
  {{#link-to "orgs.org.repo.pull" pull.repository.organization.id pull.repository.id pull.id class="collection-item"}}
    <span class="title truncate">{{pull.title}}</span>
  {{/link-to}}
{{/md-collection}}
