

<span class="card-title">{{model.org.name}}</span>
  {{#md-collection content=model.repos as |repo|}}
    {{link-to repo.name 'orgs.org.repo' repo.organization.id repo.id class='collection-item'}}
  {{/md-collection}}
