<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 id="title">Github and Stuff</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{outlet}}
    </div>
  </div>
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
